<h2>Tasks</h2>
<ul>
  <% @tasks.each do |task| %>
  <li>
    <strong>
    Name: <%= task.action.capitalize %>,
    </strong>
    description: <%= task.description %>,
    completion_date: <%= task.completion_date %>
  </li>
  <% end %>
</ul>
