<h2>Tasks</h2>
<ul>
  <% @tasks.each do |task| %>
  <li>
    <strong>
    Action: <%= task.action.capitalize %>
    </strong>
    <%= link_to "View details", task_path(task.id) %>
  </li>
  <% end %>
</ul>
